.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  background-color: #bbbbbb
}

main {
  flex-grow:1;
}

.homePic {
  width: 400px;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #f2dcbb;
  padding: 15px;
  text-align: left;
  justify-content: space-between;
  align-items:center;
}
.headerLeft{
  display:flex;
  align-items: center;
}
.AppTitle {
  font-size: 35px;
  margin-left: 15px;
  font-family: sans-serif;
}
footer {
  background-color: #f2dcbb;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  color: black
}
.AppTitle {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}
.projectListItem {
  border: 2px solid #f9f7cf;
  margin: 10px;
}

.appLogo {
  height: 40px;
  border-radius: 5px;
  border: 3px solid #aaaaaa;
}
.profileContent {
  display:flex;
}

.profileContent .emailInfo {
  display:flex;
  justify-content: flex-end;
}

.projectSelectionList {
  width: 40%;
  border: 3px solid #f9f7cf;
  border-radius: 5px;
  margin: 0px 10px;
}

.projectSelectionButtons{
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.projectSelectionContent{
  margin: 10px;
}
.projectListItem{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  height: 100px;

}

.profileContentRight {
  border: 3px solid #f9f7cf;
  border-radius: 5px;
  width: 55%;
}

/* .mapExpenses{
  margin: 10px;
  border: 2px solid #f9f7cf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.costItem{
  margin: 10px;
  border: 2px solid #f9f7cf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.costButtons{
  margin: 5px 0px;
}
.costDesc {
  margin: 0px;
}

.costButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  /* justify-content: left; */
  text-align: left;
}
.row {
  display:flex;
  align-items: left;
}

/* button {
  background-color: #f2dcbb;
} */