.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

main {
  flex-grow:1;
}

.homePic {
  width: 400px;
}

header {
  background-color: orange;
  padding: 15px;
  text-align: left;
}
footer {
  background-color: orange;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  color: black
}
.AppTitle {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}
.projectListItem {
  border: 1px solid black;
  margin: 10px;
}